

@font-face {
    font-family: mario;
    src: url('../SuperMario256.ttf');
}



body{
    background-color: black;
}
.conteiner{
    padding: 50px;

}

.div-topo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start{
    font-family: mario;
    text-transform: uppercase;
    padding: 10px;
    font-size: 35px;
    color: whitesmoke;
    background-color: rgb(165, 1, 1);
    /*border: 1px solid black;*/
    border: none;
    border-radius: 10px;
    transition: 700ms;
    /*animation: start 700ms infinite linear ;*/
}

.start:hover{
    transform: scale(1.1);
    
}

.game-board{
    display: none ;
    background-image: linear-gradient(rgb(165, 1, 1) 40%,rgb(0, 0, 0));
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 350px;
    border: 20px ridge rgb(0, 0, 0);
    border-radius: 40px;
    border-bottom: 20px solid rgb(255, 218, 52);
    
    position: relative;
    overflow: hidden;
    transition: 1s;  
}

.tabela-pontos{ 
    margin: 0 auto;
    margin-top: 15px;
    position: absolute;
}

.contador-pontos{
    padding: 10px;
    display: hidden;
    /*display: inline-block;*/
    font-size: 20px;
    font-family: mario;
    background-color: rgb(247, 232, 214);
    border: 2px solid black;
    border-radius: 40px;
}

.reset{
    display: none;
    /*display: inline-block;*/
    background-color: rgb(58, 132, 228);
    padding: 15px;
    font-size: 15px;
    font-family: mario;
    color: black;
    border: 2px solid rgb(0, 89, 206);
    border-radius: 90px;
    transition: 400ms;
    
}
.reset a{
    padding: 3px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    color: rgb(247, 58, 58);
    border: 1px dashed rgb(247, 58, 58);
    text-transform: uppercase;
    font-weight: bold;
}

.bowser{
    display: block;
    transform: rotatey(180deg);
    left: 70%;
    position: absolute;
    bottom: 0px;
    width: 190px;

}
.hitEfect{
    filter: brightness(3);
    /*filter: grayscale(90%);*/
}

.morteBowser{
    display: none;
    transform: rotatey(180deg);
    left: 70%;
    position: absolute;
    top: 165px;
    width: 245px;
}

.mario{
    left: 0px;
    position: absolute;
    
    bottom: -20px;
    width: 140px;
    /*width: 90px;*/
    
}

.jump{
    animation: pulo 500ms ;
}

@keyframes pulo {
    0% {
        bottom: 0;
    }

    40%{
        bottom: 170px;
    }
    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }
    0% {
        bottom: 0;
    }
    
}

.fireBall{
    display:none;
    left: 95px;
    margin-top: 350px;
    position: absolute;
    width: 35px;
    
}

.fireBallAnimation {
    animation: disparar 1700ms linear;
}
.fireBallAnimationJump {
    animation: dispararJump 1700ms linear;
}
@keyframes disparar {
    from {
        left: 95px;
    }

    to {
        left: 100%;
    }
    0%    { bottom: 0px; } 
    5%    { bottom: 50px;}
    10%   { bottom: 0px; }
    15%   { bottom: 60px;}
    20%   { bottom: 0px; } 
    25%   { bottom: 50px;}
    35%   { bottom: 0px; }
    40%   { bottom: 60px;}
    45%   { bottom: 0px; } 
    50%   { bottom: 50px;}
    55%   { bottom: 0px; }
    60%   { bottom: 50px;}
    65%   { bottom: 0px; } 
    70%   { bottom: 55px;}
    75%   { bottom: 0px; }
    80%   { bottom: 50px;}
    85%   { bottom: 0px; } 
    90%   { bottom: 65px;}
    95%   { bottom: 0px; }
    100%  { bottom: 50px;}

}


@keyframes dispararJump {
    from {
        left: 95px;
    }

    to {
        left: 100%;
    }
    0%    { bottom: 190px; } 
    5%    { bottom: 140px;}
    10%   { bottom: 100px; }
    15%   { bottom: 60px;}
    20%   { bottom: 0px; } 
    25%   { bottom: 50px;}
    35%   { bottom: 0px; }
    40%   { bottom: 60px;}
    45%   { bottom: 0px; } 
    50%   { bottom: 50px;}
    55%   { bottom: 0px; }
    60%   { bottom: 50px;}
    65%   { bottom: 0px; } 
    70%   { bottom: 55px;}
    75%   { bottom: 0px; }
    80%   { bottom: 50px;}
    85%   { bottom: 0px; } 
    90%   { bottom: 65px;}
    95%   { bottom: 0px; }
    100%  { bottom: 50px;}

}

.koopaLemmy{
    display: none;
    position: absolute;
    bottom: 0px;
    width: 130px;
}

.koopaLemmyAnimation{
    animation: deslizarLemmy 890ms linear;
}

@keyframes deslizarLemmy {
    from {
        right: 20%;
    }
    to{
        right: 100%;
    }
}
.balaBoss{
    bottom: 0;
    right: -30%;
    width: 280px;
    display: none;
    position: absolute;
}
.balaBossAnimation{
    animation: voaBalaBoss 1250ms linear;
}
@keyframes voaBalaBoss {
    from {
        right: -40%;
    }
    to {
        right: 100%;
    }

}
.fantasma{
    display: none;
    position: absolute;
    bottom: 145px;
    width: 80px;
}

.fantasmaAnimation{
    animation: voarFantasma 1900ms linear;
}
@keyframes voarFantasma {
    from {
        right: 20%;
    }
    to {
        right: 100%;
    }
}

.casco{
    display: none;
    position: absolute;
    bottom: 0px;
    width: 50px;
}

.cascoAnimation {
    animation: deslizarCasco 500ms linear
}
@keyframes deslizarCasco {
    from {
        right: 20%;
    }
    to {
        right: 100%;
    }
}

.fireFlower {
    display: none;
    margin-top: 350px;
    position: absolute;
    width: 50px;
}
